* {
    margin: 0;
    padding: 0;
}

#banner {
    background: linear-gradient(rgba(255, 255, 255, 0), rgba(0, 0, 0, 0)), url(../images/g2_logo.jpg);
    height: 100vh;
    background-size: cover;
    background-position: center;
}

.logo {
    width: 50px;
    position: absolute;
    top: 2%;
    left: 2%;
}

.logo_x {
    width: 30px;
    position: absolute;
    top: 3.7%;
    left: 5%;
}

.logo_twitch{
    width: 100px;
    max-width: 50%;
    position: absolute;
    top: 2.1%;
    left: 7%;
}

#sideNav {
    width: 250px;
    height: 100vh;
    position: fixed;
    right: 0;
    top: 0;
    background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7));
    /*background: linear-gradient( rgba(110, 0, 188, 0.9), rgba(255, 57, 175, 0.9));*/
    z-index: 2;
}

nav ul li {
    list-style: none;
    margin: 50px 25px;
}

nav ul li a {
    text-decoration: none;
    color: #d22d24;
}

#menuBtn {
    width: 50px;
    height: 50px;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
    /*background: linear-gradient(rgba(255, 57, 175, 0.9), rgba(110, 0, 188, 0.9));*/
    text-align: center;
    position: fixed;
    right: 30px;
    top: 20px;
    border-radius: 5px;
    z-index: 3;
    cursor: pointer;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

#menuBtn img {
    width: 20px;
    margin-top: 15px;
}


/*feature--*/

/* #features {
    width: 100%;
    padding: 70px 0;
    position: relative;
}

.title-text {
    text-align: center;
    padding-bottom: 70px;
}

.title-text p {
    margin: auto;
    font-size: 20px;
    color: #6e00bc;
    font-weight: bold;
    position: relative;
    z-index: 1;
    display: inline-block;
}

.title-text p::after {
    content: '';
    width: 50px;
    height: 35px;
    background: linear-gradient(#6e00bc, #ffffff);
    position: absolute;
    top: -22px;
    left: 5px;
    z-index: -1;
    transform: rotate(10deg);
    -webkit-transform: rotate(10deg);
    -moz-transform: rotate(10deg);
    -ms-transform: rotate(10deg);
    -o-transform: rotate(10deg);
    border-top-left-radius: 40px;
    border-bottom-right-radius: 40px;
}

.title-text h1 {
    font-size: 50px;
}

.features-box {
    width: 70%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    text-align: center;
}

.features {
    flex-basis: 50%;
}

.features-img {
    width: 20%;
    flex-basis: 50%;
    margin: auto;
}

.feature-img {
    width: 300px;
    opacity: 0.1;
    position: absolute;
    left: 50%;
    top: 18%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
}

.features-img img {
    width: 80%;
    border-radius: 5%;
    -webkit-border-radius: 5%;
    -moz-border-radius: 5%;
    -ms-border-radius: 5%;
    -o-border-radius: 5%;
}

.features h1 {
    margin-top: 25px;
    text-align: center;
    margin-bottom: 10px;
    font-weight: 100;
    color: #6e00bc;
}

.features-desc {
    margin-left: 170px;
    display: flex;
    align-items: center;
    margin-bottom: 40px;
}

.features-icon img {
    width: 40px;
    height: 40px;
    padding: 5px;
    line-height: 50px;
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
    color: #ff39af;
    border: 2px solid #ff39af;
}

.features-text p {
    padding: 0 20px;
    text-align: initial;
} */


/*--Service--*/

/* #service {
    width: 100%;
    padding: 70px 0;
    background: linear-gradient( rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2));
    position: relative;
}

.service-box {
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: auto;
}

.service-img {
    width: 300px;
    opacity: 0.1;
    position: absolute;
    left: 50%;
    top: 14%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
}

.single-service {
    flex-basis: 48%;
    text-align: center;
    border-radius: 7px;
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    -ms-border-radius: 7px;
    -o-border-radius: 7px;
    margin-bottom: 20px;
    color: #fff;
    position: relative;
}

.single-service img {
    width: 100%;
    border-radius: 7px;
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    -ms-border-radius: 7px;
    -o-border-radius: 7px;
}

.overlay {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    cursor: pointer;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(110, 0, 188, 0.8));
    border-radius: 7px;
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    -ms-border-radius: 7px;
    -o-border-radius: 7px;
    opacity: 0;
    transition: 1s;
    -webkit-transition: 1s;
    -moz-transition: 1s;
    -ms-transition: 1s;
    -o-transition: 1s;
}

.single-service:hover .overlay {
    opacity: 1;
}

.service-desc {
    width: 80%;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    opacity: 0;
    transition: 1s;
    -webkit-transition: 1s;
    -moz-transition: 1s;
    -ms-transition: 1s;
    -o-transition: 1s;
}

hr {
    background: #fff;
    height: 2px;
    border: 0;
    margin: 15px auto;
    width: 60%;
}

.service-desc p {
    font-size: 14px;
}

.single-service:hover .service-desc {
    bottom: 40%;
    opacity: 1;
} */


/*---Testimonial--*/

/* #testimonial {
    width: 100%;
    padding: 90px 0;
    position: relative;
}

.testimonial-row {
    width: 80%;
    margin: 20px auto;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
}

.testimonial-img {
    width: 300px;
    opacity: 0.1;
    position: absolute;
    left: 50%;
    top: 26%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
}

.testimonial-col {
    flex-basis: 28%;
    padding: 10px;
    margin-bottom: 30px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    box-shadow: 0 5px 20px 5px #6e00bc;
    cursor: pointer;
    transition: transform 0.5s;
    -webkit-transition: transform 0.5s;
    -moz-transition: transform 0.5s;
    -ms-transition: transform 0.5s;
    -o-transition: transform 0.5s;
}

.testimonial-col p {
    margin: 0 10px;
    font-size: 14px;
}

.user {
    display: flex;
    align-items: center;
    margin: 10px 10px;
}

.user img {
    width: 40px;
    margin-right: 20px;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
}

.user-info .fa {
    margin-left: 10px;
    color: #27c0ff;
    font-size: 20px;
}

.user-info small {
    color: #27c0ff;
}

.testimonial-col:hover {
    transform: translateY(7px);
    -webkit-transform: translateY(7px);
    -moz-transform: translateY(7px);
    -ms-transform: translateY(7px);
    -o-transform: translateY(7px);
} */


/*---Footer--*/

/* #footer {
    padding: 100px 0 20px;
    background: #efefef;
    position: relative;
}

.footer-row {
    width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.footer-left,
.footer-right {
    flex-basis: 45%;
    padding: 10px;
    margin-bottom: 20px;
}

.footer-right {
    text-align: right;
}

.footer-row h1 {
    margin: 10px 0;
}

.footer-row p {
    margin: 10px 0;
}

.footer-left .fa,
.footer-right .fa {
    font-size: 20px;
    color: #6e00bc;
    margin: 10px;
}

.footer-img {
    width: 300px;
    opacity: 0.1;
    position: absolute;
    left: 50%;
    top: 30%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
}

.social-links {
    text-align: center;
}

.social-links .fa {
    height: 40px;
    width: 40px;
    font-size: 20px;
    line-height: 40px;
    border: 1px solid #6e00bc;
    margin: 40px 5px 0;
    color: #6e00bc;
    cursor: pointer;
    transition: .5s;
    -webkit-transition: .5s;
    -moz-transition: .5s;
    -ms-transition: .5s;
    -o-transition: .5s;
}

.social-links .fa:hover {
    background: #6e00bc;
    color: #fff;
    transform: translateY(-7px);
    -webkit-transform: translateY(-7px);
    -moz-transform: translateY(-7px);
    -ms-transform: translateY(-7px);
    -o-transform: translateY(-7px);
} */


/*

.social-page {
    width: 468px;
    height: 50px;
    top: 18px;
    border-radius: 0%;
    z-index: 1;
    position: relative;
    background: linear-gradient(rgba(110, 0, 188, 0.8), rgba(255, 57, 175, 0.8));
    margin: auto;
    text-align: center;
    padding-top: 15px;
    color: #6e00bc;
    -webkit-border-radius: 0%;
    -moz-border-radius: 0%;
    -ms-border-radius: 0%;
    -o-border-radius: 0%;
}

.twitter {
    width: 40px;
    padding-right: 10px;
}

.insta {
    width: 35px;
}

*/